.bdp-container {
  margin: 3rem;
  border-radius: 0.5rem;
}
.bdp-first-container {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--color-white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.bdp-first-sub-one-container {
  display: flex;
}
.bdp-search-container {
  width: 20rem;
  margin: 1.5rem 1rem;
}
.bdp-diagnostics-container {
  width: 30rem;
  margin: 1.5rem 1rem;
}
.bdp-search-main {
  background-color: var(--color-white);
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  color: var(--color-grey);
  cursor: pointer;
}
.bdp-diagnostics-main {
  background-color: var(--color-white);
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  color: var(--color-grey);
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bdp-search-main.selected,
.bdp-diagnostics-main.selected {
  color: black;
}
.bdp-chevron-rotate {
  transform: rotate(180deg);
}
.bdp-search-label,
.bdp-diagnostics-label {
  font-size: 1rem;
}
.bdp-ul-s-list {
  background-color: var(--color-white);
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 15rem;
  overflow-y: auto;
  position: absolute;
  z-index: 10;
  width: 20rem;
}
.bdp-ul-s-list.close {
  max-height: 0;
}
.bdp-ul-d-list {
  background-color: var(--color-white);
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 15rem;
  overflow-y: auto;
  position: absolute;
  z-index: 10;
  width: 30rem;
}
.bdp-ul-d-list.close {
  max-height: 0;
}
.bdp-s-list {
  padding: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
  &:hover {
    cursor: pointer;
    background-color: #00b0ff;
    color: var(--color-white);
  }
}
.bdp-s-list.p-selected {
  background-color: #00b0ff;
  color: var(--color-white);
}
.bdp-u-s-list {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
}
.bdp-u-search-icon {
  color: var(--color-grey);
}
.bdp-u-search-text {
  background-color: var(--color-white);
  font-size: 0.9rem;
  font-family: var(--main-font);
  padding: 0.5rem;
  outline: none;
  border: none;
  width: 100%;
}
.bdp-u-search-text::placeholder {
  color: var(--color-grey);
}
.bdp-diagnostics-tests-text {
  width: 27rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bdp-first-sub-two-container {
  margin: 1.5rem 1rem;
  padding: 1rem 0;
  /* border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color); */
}
.bdp-first-patient-details-container {
  margin: 1.5rem 1rem;
  padding: 1rem 0;
}
.bdp-first-patient-details-label {
  border-bottom: 1px solid var(--primary-color);
}
