.cp-empty-cart-page-container {
  margin: 3rem;
  border-radius: 0.5rem;
}
.cp-empty-cart-main {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.cp-empty-cart-image-main {
  width: 30rem;
  height: 30rem;
  object-fit: contain;
}
.cp-empty-cart-img {
  display: flex;
  justify-content: center;
}
.cp-empty-cart-img-label {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: var(--primary-color);
}
.cp-cart-items-container {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: var(--color-white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.cp-cart-items-loading-container {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--color-white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.cp-cart-items-main-box {
  margin: 1.5rem 0;
  width: 40rem;
  /* height: 10rem; */
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}
.cp-cart-items-box-container {
  display: flex;
  justify-content: space-between;
}
.cp-cart-items-icon {
  color: var(--primary-color);
}
.cp-cart-items-info-box {
  margin-left: 1rem;
}
.cp-cart-items-info-price-box {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}
.cp-cart-items-info-price-symbol {
  font-size: 2rem;
  color: var(--primary-color);
}
.cp-cart-items-info-price-box p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}
.cp-cart-items-info-price-box-container {
  margin-left: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
.cp-cart-items-box-header-container {
  display: flex;
  color: var(--primary-color);
}
.cp-cart-items-info-patient-box p {
  color: var(--primary-color);
  font-size: 0.7rem;
  font-weight: 600;
}
.cp-cart-items-remove-icon {
  font-size: 1.5rem;
  color: var(--color-light-blue);
  &:hover {
    cursor: pointer;
  }
}
.cp-cart-items-pricing-main {
  margin: 1.5rem 0;
  width: 25rem;
}
.cp-cart-items-pricing-box-one,
.cp-cart-items-pricing-box-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cp-cart-items-pricing-symbol-box-one,
.cp-cart-items-pricing-symbol-box-two {
  font-size: 1.3rem;
  font-weight: 100;
}
.cp-cart-items-pricing-box-one-tp,
.cp-cart-items-pricing-box-two-tp {
  font-weight: 600;
}
.cp-cart-items-pricing-box-two {
  margin: 1rem 0;
  padding: 0.5rem 0;
  border-top: 1px dashed var(--color-light-blue);
  border-bottom: 1px dashed var(--color-light-blue);
}
.cp-cart-items-pricing-box-two p {
  font-weight: 600;
}
.cp-cart-items-info-patient-box {
  width: 6.5rem;
  height: 2rem;
  background-color: var(--color-preload-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.2rem;
}
.cp-cart-items-info-patient-box-ap-icon {
  font-size: 1.2rem;
}
.cp-cart-items-checkout-box {
  margin-top: 2rem;
}
.cp-cart-items-checkout-button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
  height: 3rem;
  color: var(--color-preload-text);
  background: var(--primary-color);
}
.cp-modal-container {
  width: 30rem;
}
.cp-modal-header-main {
  display: flex;
  justify-content: space-between;
}
.cp-modal-cancel-icon {
  font-size: 1.7rem;
  &:hover {
    cursor: pointer;
  }
}
.cp-modal-form-container {
  margin-top: 1rem;
}
.cp-modal-form-data-disp {
  margin: 0.5rem 0;
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.cp-modal-form-remove-icon {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: var(--color-light-blur);
  &:hover {
    cursor: pointer;
  }
}
.cp-modal-form-update-items {
  display: flex;
  align-items: flex-start;
}
.cp-modal-form-edit-icon {
  font-size: 0.8rem;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}
.cp-modal-input-container {
  margin-top: 1rem;
  display: grid;
}
.cp-modal-form-input {
  width: 60%;
  height: 2rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  outline: none;
  background: transparent;
  font-size: 1rem;
  padding: 0.5rem;
}
.cp-modal-form-input-age {
  width: 20%;
  height: 2rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  outline: none;
  background: transparent;
  font-size: 1rem;
  padding: 0.5rem;
}
.cp-modal-form-gender-main {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.cp-modal-form-gender-female,
.cp-modal-form-gender-male {
  margin: 0 0.5rem;
  &:hover {
    cursor: pointer;
  }
}
.cp-modal-form-add-more-sec {
  display: flex;
  justify-content: flex-end;
}
.cp-modal-form-add-more-text {
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-light-blur);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cp-modal-form-add-user-icon,
.cp-modal-form-update-user-icon {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}
.cp-modal-form-textarea {
  margin-top: 1rem;
  width: 100%;
  font-size: 1rem;
  border: "1px solid #000";
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.cp-modal-pincode-container {
  margin-top: 1rem;
  display: grid;
}
.cp-modal-form-add-input {
  font-family: var(--main-font);
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 70%;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.cp-modal-confirm-booking-container {
  margin-top: 1rem;
}
.cp-modal-confirm-booking-button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
  height: 3rem;
  color: var(--color-preload-text);
  background: var(--primary-color);
}
.cp-modal-error-message {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--error-color);
}
