.confirm-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.confetti {
  position: absolute;
  animation: grow 1.4s cubic-bezier(0.42, 0, 0.275, 1.155) both;
}
.confetti:nth-child(1) {
  width: 12px;
  height: 12px;
  left: 40px;
  top: 18px;
}
.confetti:nth-child(2) {
  width: 18px;
  height: 18px;
  left: 120px;
  top: 84px;
}
.confetti:nth-child(3) {
  width: 10px;
  height: 10px;
  left: 40px;
  top: 95px;
}
.confetti:nth-child(4) {
  width: 20px;
  height: 20px;
  left: 102px;
  top: 0px;
}
.confetti:nth-child(5) {
  width: 14px;
  height: 14px;
  left: 90px;
  top: 110px;
}
.confetti:nth-child(6) {
  width: 10px;
  height: 10px;
  left: 40px;
  top: 18px;
}
.confetti:nth-child(1) {
  animation-delay: 0.7s;
}
.confetti:nth-child(2) {
  animation-delay: 1.4s;
}
.confetti:nth-child(3) {
  animation-delay: 2.1s;
}
.confetti:nth-child(4) {
  animation-delay: 2.8s;
}
.confetti:nth-child(5) {
  animation-delay: 3.5s;
}
.confetti:nth-child(6) {
  animation-delay: 4.2s;
}

.checkmark {
  position: relative;
  padding: 30px;
  animation: checkmark 5.6s cubic-bezier(0.42, 0, 0.275, 1.155) both;
}

.checkmark-check {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  fill: #fff;
}

.checkmark-back {
  height: 60px;
  animation: rotate 35s linear both infinite;
}

@keyframes grow {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes checkmark {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10%,
  50%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(420deg);
  }
}
